* {
  box-sizing: border-box;
}

body {
  background-image: url(./water.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
}

#title {
  font-family: "Denk One", sans-serif;
  text-align: center;
  font-size: 7em;
  font-style: italic;
  letter-spacing: 0.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind Siliguri", sans-serif;
}

#main-div {
  margin: auto;
  width: 98vw;
}

#allFish {
  margin: auto;
  width: 90%;

  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: flex-start;
}

#mainForm {
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 2em;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#fishName {
  width: 500px;
  max-width: 80%;
  font-size: 2em;
  background-color: #a5b2c480;
  padding: 0.2em 0.5em;
  border-radius: 20px;
}

/************************Slider************************/

#mainForm > label {
  margin-top: 1em;
  font-size: 2em;
  font-weight: 700;
}

#proteinSlider {
  -webkit-appearance: none;
  flex-basis: 100%;
  width: 300px;
  max-width: 50%;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  bottom: 0.5em;
  background: transparent;
  cursor: pointer;
}

#proteinSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#proteinSlider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

#proteinSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a5b2c480;
  border-radius: 3px;
  border: 0.2px solid #010101;
}

#proteinSlider:hover::-webkit-slider-runnable-track {
  background: #a5b2c4ff;
}

#proteinSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a5b2c480;
  border-radius: 3px;
  border: 0.2px solid #010101;
}

#proteinSlider:hover::-webkit-slider-runnable-track {
  background: #a5b2c4ff;
}

/******************************************************/

.fish-section {
  padding: 1em;
  margin: 2em;
  background-color: #a5b2c480;
  border-radius: 10%;
  margin-bottom: 3em;
  text-decoration: none;
}

.fish-section:hover {
  background-color: #a5b2c4ff;
}

.fish-section > h2 {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 2em;
  text-align: center;
  color: black;
}

.fish-section > h3 {
  margin-left: 0;
  margin-right: 0;
  max-width: 400px;
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 1.2em;
  color: rgb(100, 100, 100);
  text-align: center;
  text-decoration: none;
}

.fish-section > img {
  width: 300px;
  display: block;
  margin: 10px auto 10px;
}

/************************************************/

#loading {
  margin: auto;
  width: 50%;
  text-align: center;
}

@keyframes swim {
  0% {
    left: 0;
  }

  25% {
    left: 150px;
  }

  75% {
    left: -150px;
  }

  100% {
    left: 0;
  }
}

#fishLogo {
  width: 100px;
  position: relative;
  animation-name: swim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
